<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <% movies.forEach(function(movie) { %>
        <h1><%= movie.title %></h1>
        <h2> Director : <%=movie.director %></h2>
        <p>Year : <%= movie.year %> Duration : <%= movie.duration %> Minutes</p>
    <% }) %>
</body>
</html>